@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.site-layout .site-layout-background {
  background: #001529;
}

.form-wrapper{
  width: 80%;
  margin: 0 auto;
}

.title-input {
  width: 500px;
  height: 40px;
  margin: 10px;
}

.text-area {
  width: 80%;
  min-height: 500px;
}

.submit-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;
}

.main-logo{
  width: 200px; height: 64px;
  float: left;
  text-align: center;
}

.ck-editor__editable_inline {
  min-height: 560px;
}

.ant-menu-inline > .ant-menu-item {
  height: 58px;
  line-height: 58px;
}

.deleteY {
  display: none;
}

.filebox label {
  display: inline-block; 
  padding: .5em .75em; 
  color: #999; 
  font-size: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fdfdfd; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em; 
}

.bogo{
  position: absolute;
  top: 2px;
  right: 8px;
  height: 24px;
  text-align: center;
  padding: 0px;
}

.bogo_register, .bogo_view, .bogo_update {
  position: relative;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 20px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.reportView:focus {
  outline: none;
}

/* login */
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-logo {
  text-align: center;
  margin-bottom : 10px;
}

.ant-form-item-label > label {
  color: white !important;
}

/* antd calender Custom */
.ant-picker-date-panel .ant-picker-content th {
  text-align: center;
  font-weight: bold;
}

.ant-picker-range input{
  text-align: center;
}

.ant-picker-date-panel .ant-picker-content th:nth-child(1), .ant-picker-date-panel .ant-picker-content th:nth-child(7) {
  color : red
}
 
.ant-picker-calendar-full .ant-picker-panel{
  text-align: left;
}
/* antd calender month or year selection button display none */
.ant-picker-calendar-mode-switch {
  display : none;
}

/* antd table border without pagination */
.ant-table.ant-table-bordered {
  box-shadow : rgba(0, 0, 0, 0.16) 0px 1px 4px
}

/*home => 새글소식 card 수정*/
.newBoardCard.ant-card-type-inner .ant-card-body{
  padding : 3px 10px;
}
.newBoardCard.ant-card-type-inner .ant-card-head{
  min-height : 27px;
}
.newBoardCard.ant-card-type-inner .ant-card-head-title{
  padding : 6px 0;
}

/* 메인 콘텐트 */
.mainDetailContent {
  margin: 16px;
  height: 100%;
}

.mainDetailContent td, .mainDetailContent th, .mainDetailContent table {
  border: solid black;
  width: auto;
  overflow: auto;
}

.mainDetailContent th {
  background-color: lightgray;
}

.mainDetailContent blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.ant-badge-dot {
  right: 8px;
  top: 8px;
}

/*timeline select*/
.hoverable {
  cursor: pointer;
  width: 100%;
}

.hoverable:hover {
  color : rgb(103, 103, 161);
}
