@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #001529;
}

.form-wrapper{
  width: 80%;
  margin: 0 auto;
}

.title-input {
  width: 500px;
  height: 40px;
  margin: 10px;
}

.text-area {
  width: 80%;
  min-height: 500px;
}

.submit-button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;
}

.main-logo{
  width: 120px; height: 30px;
  background: no-repeat url(../src/components/layout/cmworld-logo.png);
  float: right;
  margin: 16px 0;
}

.ck-editor__editable_inline {
  min-height: 570px;
}

.ant-menu-inline > .ant-menu-item {
  height: 58px;
  line-height: 58px;
}

.deleteY {
  text-decoration: line-through
}

.filebox label {
  display: inline-block; 
  padding: .5em .75em; 
  color: #999; 
  font-size: inherit; 
  line-height: normal; 
  vertical-align: middle; 
  background-color: #fdfdfd; 
  cursor: pointer; 
  border: 1px solid #ebebeb; 
  border-bottom-color: #e2e2e2; 
  border-radius: .25em; 
}

.bogo{
  position: absolute;
  top: 2px;
  right: 8px;
  height: 24px;
  text-align: center;
  padding: 0px;
}

.bogo_register, .bogo_view, .bogo_update {
  position: relative;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 0px;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 20px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.reportView:focus {
  outline: none;
}

.ant-picker-calendar-full .ant-picker-panel{
  text-align: left;
}

