/* classname 겹치지 않는 module용 css */
.mainLogo{
  width: 120px; height: 30px;
  background: no-repeat url(../src/components/layout/cmworld-logo.png);
  float: left;
  margin: 16px 0 16px 0.8em;
}
/* header */
.avtHeader {
  bottom: 0.25em;
  margin: 0 0.5em;
}

.btnHeader {
  margin: 0 0.25em;
}

.avtNav {
  float: right;
}

.logoutM {
  color : white;
  font-size: 2em;
  float: right;
  margin-right: 0.4em;
}

.bogo{
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

.bogoTxtArea {
  height: 14vh !important;
}

.bogoTxt {
  font-size: 0.9em  !important;
}

.detailModal {
  height: 40vh !important;
}

/* 전체 화면 */
.drv_date {
  position: absolute;
  right: 11px;
}

/* 새소실모달 */
.soSickDiv {
  background: white;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  margin-bottom: 10px;
}

.detailBorder {
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}