/* 반응형 웹을 위한 미디어쿼리 */
@media only screen and (max-width: 1100px) {
  :root {
    --vh: 100%;
  }
  
  .ant-picker-calendar-date {
    height: 10vh !important;
  }

  .modalView > section > main {
    height: 60vh;
  }

  .mainDetailContent .ant-page-header-heading-title {
    width: 62vw;
    white-space: pre-line;
  }

  .mainDetailContent table {
    width: 77vw;
    table-layout: fixed;
  }

  .mainDetailContent img {
    max-width: 77vw;
  }

  .newSosick {
    table-layout: fixed;
    width: 97vw;
    color: black;
    overflow: hidden;
  }
}