/* 반응형 웹을 위한 미디어쿼리 */
@media only screen and (max-width: 1100px) {
  .ant-picker-calendar-date {
    height: 10vh !important;
  }

  .modalView > section > main {
    height: 60vh;
  }

  .contnetDetail .ant-page-header-heading-title {
    width: 55vw
  }

  .mainDetailContent table {
    width: 85vw;
    table-layout: fixed;
  }

  .mainDetailContent img {
    max-width: 85vw;
  }
}